[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Resultado de imagen de dab render
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjqgbDD6p_hAhVoxYUKHVu1DiYQjRx6BAgBEAU&url=https%3A%2F%2Fdedipic.com%2Ftag%2Fdab%2F&psig=AOvVaw25JqkrqhAkdC7RElLXC2kq&ust=1553690560178532
Icon=text-html
